*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER INTESTAZIONE */
header{
    background-color: #ff6900;
    height: 70px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:0px 270px;
}

header nav div{
    display: flex;
    color:#fff;
    padding: 5px;
    size: 10px;
}

.Logo{
    height: 50px;
    width: auto;
}
    
/* /HEADER INTESTAZIONE */

/* MAIN CON FOTO */

main{
    margin-top:60px;
}

.box{
    width: 450px;
    height: 700px;
    background-color: red;
    margin:20px;
    flex-shrink: 0;
}

.box img{
    width: 450px;
    height: calc(100% - 20%);
    
}
.container-shop{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* /MAIN CON FOTO */

/* PIEDE DI PAGINA */

/* /PIEDE DI PAGINA */




/* UTILITY VARIE */



/* /UTILITY VARIE */

/* DEBUG VARI */


/* /DEBUG VARI */