*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER INTESTAZIONE */
header{
    background-color: #ff6900;
    height: 70px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:0px 270px;
}

header nav div{
    display: flex;
    color:#fff;
    padding: 5px;
    size: 10px;
}

.Logo{
    height: 50px;
    width: auto;
}
    
/* /HEADER INTESTAZIONE */

/* MAIN CON FOTO */

main{
    margin-top:60px;
}

.box{
    width: 450px;
    height: auto;
    background-color: #fff;
    margin:20px;
    flex-shrink: 0;
    position:relative;
}

.box img{
    width: 450px;
    height: 645px;
    
}
.container-shop{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

a{
    text-decoration-line: line-through;
    color: #000;
}

.green{
    background-color: green;
    padding:5px;
    position: absolute;
    bottom:100px;
    left: 60px;
    color:#fff;
}

.nfm{
    background-color: green;
    padding:5px;
    position: absolute;
    bottom:100px;
    color:#fff;
}

.box .assoluto .immagine-sotto{
    position:none;
}

.box .assoluto .immagine-sopra:hover {
    display: none;
}

.box .assoluto .immagine-sotto:hover{
    display: block;
}

.offerta{
    background-color: red;
    padding:5px;
    position: absolute;
    bottom:100px;
    color:#fff;
    
}

h5{
    color: #ff0000;
}

.cuore{
    background-color: #fff;
    padding:15px;
    position: absolute;
    top:10px;
    right:0;
}

/* /MAIN CON FOTO */

/* PIEDE DI PAGINA */

footer{
    background-color: #1a1a1a;
    height: 110px;
    border-bottom:#fff 2px solid;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding:0px 270px;
}

footer nav div{
    
    color:#fff;
    padding: 5px;
    size: 10px;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

/* /PIEDE DI PAGINA */




/* UTILITY VARIE */



/* /UTILITY VARIE */

/* DEBUG VARI */


/* /DEBUG VARI */